.arrow-btn{
    background-color: transparent;
    border: none;
}


/* Hide the track (background) and buttons of the scrollbar */
::-webkit-scrollbar {
    width: 0px; /* Adjust to your preference */
  }
  
  /* Track (background) */
  ::-webkit-scrollbar-track {
    background: transparent; /* Make it transparent */
  }
  
  /* Handle (thumb) */
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Set a semi-transparent color */
    border-radius: 0px; /* Rounded thumb */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; /* Make it slightly more opaque on hover */
  }
  